Repository semaphore-protocol/research, pull requests merged in 2023-08, with the labels that each got.

#21 Add contract tests
  solidity/.yarnrc.yml
  solidity/test/binaryMerkleTreeTest.ts
  solidity/yarn.lock
Labels: tests :test_tube:

#25 Add new test in contracts
  solidity/test/binaryMerkleTreeTest.ts
Labels: tests :test_tube:

#22 Scripts on circuits
  circom/package.json
  circom/preimage-proof/index.circom
  circom/scripts/generate-proof.js
  circom/scripts/run-ceremony.sh
  circom/scripts/utils.js
  circom/semaphore-v4/index.circom
  circom/yarn.lock
  javascript/package.json
  yarn.lock
Labels: devops :wrench:

#26 New readme file for Semaphore v4 JS MT lib
  javascript/README.md
Labels: documentation :book:
